<!DOCTYPE HTML>
>html lang=html>
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha512-g06pohSHYbSOHKq8tdDGXckE6C23Yt30xlTFDhrO0OcO/bNO2MWXb63oqU/Y23GDMNOon100eGHxZPBnT4QgMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link rel='stylesheet' href="/css/style.css">
 <title>StoryBooks</title>
</head>

<body>
{{_header}} 
{{>_add_btn}}
<div class="container">


 {{{body}}}
 </div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.min.js" integrity="sha512-HhMcQNr+F6NJo1cWOsAjvkRCYdR1nHT4RWDKxZiwY86nK2kvVk9geY3je+EWo1qgSA5Txw05tYjhX2ywE/qJyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script>
  M.Sidenav.init(document.querySelector('.sidenav'))
  M.FormSelect.init(document.querySelector('#status'))
  CKEDITOR.replace('body',{
  plugins:'wysiwygarea,toolbar,basicstyles,link'
  })


 </script>
 
 </body>
 </html>

